:root {

    --color-bg: #f9fafc;

    /* Shades */
    --color-light: hsl(0, 0%, 46%);  
    --color-black: rgb(30, 32, 37);
    --color-dark: rgb(54, 66, 93);
    --color-light: rgb(120, 130, 153);

    /* Colors */
    --color-primary: hsl(220, 90%, 56%);
    --color-secondary: rgb(113, 119, 134);
    --color-success: rgb(47, 191, 47);
    --color-info: rgb(46, 198, 214);
    --color-error: rgb(214, 55, 46);
    --color-warning: rgb(255, 193, 7);

    /* Typography */
    --color-font-body: hsl(0, 0%, 28%);
    --color-font-heading: var(--color-dark);
    --color-a: var(--color-primary);
    
    --panel-padding: 34px;
    --border-radius: 5px;

    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --radius: 4px;
}

@custom-media --phone-viewport (max-width: 768px);