@import '../fonts/inter.css';
@import './variables.css';

@slate base;
@slate utility;
@slate components;

body {
    background: #fff;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
body > header.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-gray-a-10);
    padding: var(--space);
    z-index: 99;
    margin-bottom: calc(2 * var(--space));

    .brand {
        color: var(--color-text);
        font-size: var(--font-size-l);
        font-weight: bold;
    }
    .badge {
        margin: 0 var(--space-xl);
    }

    .nav {
        a {
            color: var(--color-gray);
            &:hover {
                color: var(--color-primary);
            }
        }
    }
}
body > header.container .nav a,
body > .page .nav-link {
    color: var(--color-text);
    &.active {
        color: var(--color-primary);
    }
}
body > .page .page-nav {
    margin: 0 calc(-1*var(--space));
}
body > .page {
    padding-bottom: 1rem;
    h2,h3,h4 {
        margin-top: var(--space);
    }
}

section.hero {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Ccircle cx='1' cy='1' r='1' fill='%2375818a' fill-opacity='1'%3E%3C/circle%3E%3C/svg%3E");

    h1 {
        font-size: 4rem;
        b {
            position: relative;
            &:after {
                left: 0;
                bottom: 4px;
                position: absolute;
                display: block;
                content: " ";
                height: 4px;
                border-radius: 4px;
                width: 100%;
                background: var(--color-primary);
            }
        }
    }
    
    p {
        max-width: 500px;
    }

    .rectangular-plane {
        position: absolute;
        top: 0;
        left: 20%;
        right: 20%;
        bottom: 0;
        transform: rotate(-13deg);

        .rectangular-group {
            position: absolute;
            left: -0%;
            top: -5%;

            &:nth-child(2) {
                left: auto;
                right: -20%;
                top: 20%;
            }
            &:nth-child(3) {
                left: auto;
                top: 30%;
                left: -20%;
            }
            &:nth-child(4) {
                left: auto;
                top: 70%;
                right: 0;
                transform: rotate(90deg);
            }
            &:nth-child(5) {
                left: -20%;
                top: 10%;
            }
            &:nth-child(6) {
                left: 20%;
                top: 60%;
            }
            .rectangle {
                background: var(--color-primary);
                border-radius: 4px;
                width: calc(3*var(--space));
                height: calc(3*var(--space));
                box-shadow: var(--shadow);
                margin-top: var(--space);
            }
            .rectangle--s {
                width: calc(2.4*var(--space));
                height: calc(2.4*var(--space));
            }
            .rectangle--l {
                width: calc(4*var(--space));
                height: calc(4*var(--space));
            }
            .rectangle--xl {
                width: calc(6*var(--space));
                height: calc(6*var(--space));
            }
            .rectangle--xxl {
                width: calc(10*var(--space));
                height: calc(10*var(--space));
            }
            .rectangle--gray {
                background: var(--color-gray-light);
            }
            .rectangle--accent {
                background: var(--color-accent);
            }
            .rectangle--dark {
                background: linear-gradient(var(--color-dark-darker),var(--color-dark));
            }
            .rectangle--outline {
                border: 1px solid var(--color-primary);
                background: none;
                &.rectangle--gray {
                    border-color: var(--color-gray-light);
                }
            }
        }
    }
}

section.pitch-deck {
    .icon {
        background: var(--color-primary-a-30);
        display: inline-flex;
        width: calc(3*var(--space));
        height: calc(3*var(--space));
        position: relative;
        border-radius: 4px;
        svg {
            width: calc(3*var(--space));
            height: calc(3*var(--space));
            position: absolute;
            left: -22px;
            top: 12px;            
        }
    }
}

pre.code {
    padding: calc(2*var(--space));
    background: var(--color-gray-a-10);
    border-radius: 10px;
    margin: calc(2*var(--space)) 0;
    overflow: auto;
}

.docs-example {
    &.layout-grid-example {
        .row {
            background-color: var(--color-primary-a-10);
            min-height: 100px;
            border-radius: 4px;
        }
    }
    .row .col,
    .row [class^=col-] {
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: var(--color-primary-a-10);
        border: 1px solid var(--color-primary-a-30);
        border-radius: 4px;
    }
}

.color-display {
    border-radius: var(--space-s);
    padding: 0 var(--space-s);
    margin: var(--space-s) 0;
    display: flex;
    align-items: flex-end;
    transition: ease 400ms all;
    height: 40px;
    line-height: 40px;
    &:hover {
        height: 200px;
    }
}

.color-display--main {
    min-height: 200px;
}

.outline {
    border: 2px solid var(--color-primary);
}

@define-mixin colora $name {
    .docs-bg--$(name)-a-10 { background-color: var( --color-$(name)-a-10 ); }
    .docs-bg--$(name)-a-20 { background-color: var( --color-$(name)-a-20 ); }
    .docs-bg--$(name)-a-30 { background-color: var( --color-$(name)-a-30 ); }
    .docs-bg--$(name)-a-40 { background-color: var( --color-$(name)-a-40 ); }
    .docs-bg--$(name)-a-50 { background-color: var( --color-$(name)-a-50 ); }
    .docs-bg--$(name)-a-60 { background-color: var( --color-$(name)-a-60 ); }
    .docs-bg--$(name)-a-70 { background-color: var( --color-$(name)-a-70 ); }
    .docs-bg--$(name)-a-80 { background-color: var( --color-$(name)-a-80 ); }
    .docs-bg--$(name)-a-90 { background-color: var( --color-$(name)-a-90 ); }
}

@mixin colora primary {}
@mixin colora accent {}
@mixin colora gray {}
@mixin colora danger {}

.docs-not-only-demo {
    div[class^="not"] {
        border-radius: var(--space-s);
        padding: var(--space-s);
        border: 2px solid var(--color-primary);
        margin-bottom: var(--space);
    }
    div[class^="only"] {
        border-radius: var(--space-s);
        padding: var(--space-s);
        border: 2px solid var(--color-accent);
        margin-bottom: var(--space-s);
    }
}

.docs-block-flex-demo {
    .block {
        border-radius: var(--space-s);
        padding: var(--space);
        border: 2px solid var(--color-primary);
        margin-bottom: var(--space);
    }
}

.docs-device-preview {

    div[class^="device"] {
        border-radius: var(--space-s);
        border: 2px solid var(--color-primary);
        color: var(--color-primary);
        text-align: right;
        margin-left: -2px;
        margin-bottom: -2px;
        padding: var(--space) var(--space) 0 0;
    }
    .device-xs {
        width: var(--device-xs);
        height: 300px;
    }
    .device-s {
        width: var(--device-s);
    }
    .device-m {
        width: var(--device-m);
    }
    .device-l{
        width: var(--device-l);
    }
    .device-xl{
        width: var(--device-xl);
    }
    .device-xxl{
        width: 2200px;
        margin-left: 0;
        margin-bottom: 0;
    }
}

.docs-toc {
    border-radius: var(--space-xs);
    padding: var(--space-l);
    margin-bottom: var(--space-s);
    background: var(--color-primary-a-10);
    font-size: var(--text-m);
    width: 300px;
}

.component {
    .icon {
        border-radius: var(--space-xs);
        border: 1px solid var(--color-gray-lighter);
        min-height: 100px;
    }

}

.docs-demo {
    border-radius: var(--space-xs);
    border: 1px solid  var(--color-gray-a-10);
    background: var(--color-gray-a-10);
    min-height: 200px;
}

.demo-preview {
    margin-bottom: 100px;
}
.demo-frame-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--space-xs) 0;

    .nav-sep {
        border-right: 1px solid var(--color-gray-lighter); 
        padding-right: var(--space-xs);
        margin-right: var(--space-xs);
    }
    .title, .actions {
        flex: 1 0 20%;
    }
    .actions {
        display: flex;
        justify-content: flex-end;
    }
    .devices {
        display: flex;
        svg {
            margin: 0 var(--space-xs);
            .fill {
                fill: var(--color-gray-lighter);
            }
            &:hover {
                .fill {
                    fill: var(--color-primary);   
                }         
            }
        }
    }
}
.demo-content{
    width: 100%;
    min-height: 400px;
    border-radius: var(--space-xs);
    border: 1px solid var(--color-gray-lighter); 
    white-space: nowrap;
    overflow: auto;
}
.demo-frame {
    width: 100%;
    height: 400px;
    white-space: nowrap;
    overflow-x: auto;
    background: var(--color-gray-light);
    iframe {
        height: 100%;
        float: left;
        display: flex;
    }
    .demo-frame-handle {
        cursor: ew-resize;
        height: 100%;
        display: inline-flex;
        align-items: center;
        background: var(--color-gray);
        width: 20px;
        border-left: 1px solid  var(--color-gray-a-10);
        border-right: 1px solid  var(--color-gray-a-10);
        svg {
            width: 20px;
            height: 20px;
        }
    }
}
.demo-source {
    padding: var(--space-l);
    background: var(--color-gray-darker);
    color: #fff;
}

.doc-note {
    padding: var(--space);
    border-left: 4px solid var(--color-danger);
    background: var(--color-danger-a-20);
}