.block\@s,
.flex\@s,
.block\@m,
.flex\@m,
.block\@l,
.flex\@l,
.block\@xl,
.flex\@xl,
.block\@xxl,
.flex\@xxl { display: none; }

@mixin flexDevice ($device) {
    
  .block#{$device} { display: block; }
  .flex#{$device} { display: flex; }
    
  .flex-col#{$device} {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex-col-r#{$device} {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
  .flex-row#{$device} {
    flex-direction: row;
  }
  .flex-row-r#{$device} {
    flex-direction: row-reverse;
  }  

  .flex-just-start#{$device} {
    justify-content: flex-start;
  }  
  .flex-just-center#{$device} {
    justify-content: center;
  }  
  .flex-just-end#{$device} {
    justify-content: flex-end;
  }  
  .flex-just-around#{$device} {
    justify-content: space-around;
  }  
  .flex-just-between#{$device} {
    justify-content: space-between;
  }
  .flex-just-even#{$device} {
    justify-content: space-evenly;
  }
  
  .flex-align-items-start#{$device} {
    align-items: flex-start;
  }  
  .flex-align-items-center#{$device} {
    align-items: center;
  }
  .flex-align-items-end#{$device} {
    align-items: flex-end;
  }
  
  .order-first#{$device} {
    order: -1;
  }  
  .order-last#{$device} {
    order: 1;
  }
}


@include flexDevice ('');

@media only screen and (max-width: $device-xs) {
  @include flexDevice ('\\@xs');
}
@media only screen and (min-width: $device-xs) {
  @include flexDevice ('\\@s');
}
@media only screen and (min-width: $device-s) {
  @include flexDevice ('\\@m');
}
@media only screen and (min-width: $device-m) {
  @include flexDevice ('\\@l');
}
@media only screen and (min-width: $device-l) {
  @include flexDevice ('\\@xl');
}
@media only screen and (min-width: $device-xl) {
  @include flexDevice ('\\@xxl');
}