.breadcrumb {
    a {
        display: inline-block;
        color: var(--color-gray);
        &:hover {
            color: var(--color-primary);
        }
        &:after {
            display: inline-block;
            width: 5px;
            height: 5px;
            margin: 0 .8em;
            content: "";
            border-right: 2px solid var(--color-gray-light);
            border-bottom: 2px solid var(--color-gray-light);
            transform: translateY(-2px) rotate(-45deg);
        }
        &:last-child:after {
            display: none;
        }
    }
}