.dropdown {
    display: inline-block;
    position: relative;
    
    button {
        display: flex;
        padding: .8rem 1.2rem;
        box-shadow: none;
        border-radius: var(--input-radius);
        border: var(--input-border);
        &--hover,&:hover {
            border: var(--input-border-hover);
            box-shadow: var(--input-shadow-hover);
        }
        &--focus,&:focus {
            outline: 0 none;
            border: var(--input-border-active);
            box-shadow: var(--input-shadow-active);
        }
    }
    // &:hover .dropdown-list,
    &:focus-within .dropdown-list {
        display: block;
    }
    .dropdown-list {
        min-width: 150px;
        text-align: left;
        position: absolute;
        display: none;
        background: #fff;
        z-index: 999;
		width: 200px;
        margin-top: .4rem;
        overflow: auto;
        max-height: 50vh;

        border-radius: var(--input-radius);
        border: var(--input-border);

        .dropdown-item {
			display: flex !important;
			align-items: flex-end;
            padding: .8rem 1.2rem;
            color: var(--color-dark);
            border-radius: 0;
            &:hover {
                color: #fff;
                background-color: var(--color-primary);
            }
            &.border-top {
                border-top: 1px solid var(--color-gray-a-10);
            }
            &.selected {
                color: #fff;
                background-color: var(--color-primary);
            }
		}
	}
}

