:root {
    --panel-padding: var(--space-l);
    --panel-radius: .8rem;
    --panel-border: 0px none;
    --panel-shadow: 0 1px 1px #00000012, 0 2px 5px #0000001a;
    --panel-margin: 0 0 1rem 0;
    --panel-background: transparent;
}

.panel {
    padding: var(--panel-padding);
    border-radius: var(--panel-radius);
    box-shadow: var(--panel-shadow);
    margin: var(--panel-margin);
    position: relative;
    
    &.panel--flat {
        box-shadow: none;
    }
    
    &--primary {        
        border-top: 3px solid var(--color-primary);
    }
    &--accent {        
        border-top: 3px solid var(--color-accent);
    }
}
.panel-header {
    border-bottom: 2px solid #f9fafc;
    margin-bottom: 1rem;
    &.no-border {
        border: 0 none;
    }
}
.panel--table {
    padding: 0;
    .table {
        border-radius: var(--border-radius);
        margin-bottom: 0;
    }
    td:first-child, th:first-child {
        padding-left: var(--space-l);
    }
    td:last-child, th:last-child {
        padding-right: var(--space-l);
    }
}