:root {
    --color-primary-lighter: hsl(206, 65%, 80%);
    --color-primary-light: hsl(206, 65%, 70%);
    --color-primary: hsl(206, 65%, 60%);
    --color-primary-dark: hsl(206, 65%, 40%);
    --color-primary-darker: hsl(206, 65%, 20%);
    --color-primary-a-10: hsla(206, 65%, 60%, .10);
    --color-primary-a-20: hsla(206, 65%, 60%, .20);
    --color-primary-a-30: hsla(206, 65%, 60%, .30);
    --color-primary-a-40: hsla(206, 65%, 60%, .40);
    --color-primary-a-50: hsla(206, 65%, 60%, .50);
    --color-primary-a-60: hsla(206, 65%, 60%, .60);
    --color-primary-a-70: hsla(206, 65%, 60%, .70);
    --color-primary-a-80: hsla(206, 65%, 60%, .80);
    --color-primary-a-90: hsla(206, 65%, 60%, .90);

    --color-accent-lighter: hsl(27, 94%, 95%);
    --color-accent-light: hsl(27, 94%, 80%);
    --color-accent: hsl(27, 94%, 47%);
    --color-accent-dark: hsl(27, 94%, 40%);
    --color-accent-darker: hsl(27, 94%, 20%);
    --color-accent-a-10: hsla(27, 94%, 47%, .10);
    --color-accent-a-20: hsla(27, 94%, 47%, .20);
    --color-accent-a-30: hsla(27, 94%, 47%, .30);
    --color-accent-a-40: hsla(27, 94%, 47%, .40);
    --color-accent-a-50: hsla(27, 94%, 47%, .50);
    --color-accent-a-60: hsla(27, 94%, 47%, .60);
    --color-accent-a-70: hsla(27, 94%, 47%, .70);
    --color-accent-a-80: hsla(27, 94%, 47%, .80);
    --color-accent-a-90: hsla(27, 94%, 47%, .90);

    --color-gray-lighter: hsl(205, 8%, 95%);
    --color-gray-light: hsl(205, 8%, 80%);
    --color-gray: hsl(205, 8%, 50%);
    --color-gray-dark: hsl(205, 8%, 40%);
    --color-gray-darker: hsl(205, 8%, 20%);
    --color-gray-a-10: hsla(205, 8%, 50%, .10);
    --color-gray-a-20: hsla(205, 8%, 50%, .20);
    --color-gray-a-30: hsla(205, 8%, 50%, .30);
    --color-gray-a-40: hsla(205, 8%, 50%, .40);
    --color-gray-a-50: hsla(205, 8%, 50%, .50);
    --color-gray-a-60: hsla(205, 8%, 50%, .60);
    --color-gray-a-70: hsla(205, 8%, 50%, .70);
    --color-gray-a-80: hsla(205, 8%, 50%, .80);
    --color-gray-a-90: hsla(205, 8%, 50%, .90);

    --color-danger-lighter: hsl(0, 70%, 95%);
    --color-danger-light: hsl(0, 70%, 80%);
    --color-danger: hsl(0, 70%, 45%);
    --color-danger-dark: hsl(0, 70%, 40%);
    --color-danger-darker: hsl(0, 70%, 20%);
    --color-danger-a-10: hsla(0, 70%, 45%, .10);
    --color-danger-a-20: hsla(0, 70%, 45%, .20);
    --color-danger-a-30: hsla(0, 70%, 45%, .30);
    --color-danger-a-40: hsla(0, 70%, 45%, .40);
    --color-danger-a-50: hsla(0, 70%, 45%, .50);
    --color-danger-a-60: hsla(0, 70%, 45%, .60);
    --color-danger-a-70: hsla(0, 70%, 45%, .70);
    --color-danger-a-80: hsla(0, 70%, 45%, .80);
    --color-danger-a-90: hsla(0, 70%, 45%, .90);

    --color-white: hsl(220, 33%, 98%);
    --color-text: hsl(210, 11%, 15%);
}
@define-mixin color $name {
.text--$(name) { color: var( --color-$(name) ); }
.text--$(name)-lighter { color: var( --color-$(name)-lighter ); }
.text--$(name)-light { color: var( --color-$(name)-light ); }
.text--$(name)-dark { color: var( --color-$(name)-dark ); }
.text--$(name)-darker { color: var( --color-$(name)-darker ); }
.bg--$(name) { background-color: var( --color-$(name) ); }
.bg--$(name)-lighter { background-color: var( --color-$(name)-lighter ); }
.bg--$(name)-light { background-color: var( --color-$(name)-light ); }
.bg--$(name)-dark { background-color: var( --color-$(name)-dark ); }
.bg--$(name)-darker { background-color: var( --color-$(name)-darker ); }
}

.text--white { color: var( --color-white ); }
.bg--white { background-color: var( --color-white ); }
.text--text { text: var( --color-text ); }
.bg--text { background-color: va    r( --color-text ); }

@mixin color primary {}
@mixin color accent {}
@mixin color gray {}
@mixin color text {}
@mixin color danger {}