.flex {    
    display: flex;
    &--around {    
        justify-content: space-around;
    }
    &--between {    
        justify-content: space-between;
    }
    &--center {    
        justify-content: center;
    }
    &--column {    
        flex-direction: column;
    }
    &--align-center {
        align-items: center;
    }
}
.flex-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: wrap;

    @media (--phone-viewport) {
        display: block;
    }

    .col {
      padding: 0 var(--col-spacing);
      flex: 1 1 auto;
    }
}