.flex {    
    display: flex;
    &--around {    
        justify-content: space-around;
    }
    &--between {    
        justify-content: space-between;
    }
    &--center {    
        justify-content: center;
    }
    &--column {    
        flex-direction: column;
    }
    &--a-center {
        align-items: center;
    }
}