.fl {
  float: left;
}

.fr {
  float: right;
}

@define-mixin cols $device {
  
  .col$(device),
  .col-1$(device),
  .col-2$(device),
  .col-3$(device),
  .col-4$(device),
  .col-5$(device),
  .col-6$(device),
  .col-7$(device),
  .col-8$(device),
  .col-9$(device),
  .col-10$(device),
  .col-11$(device),
  .col-12$(device),
  .col-offset-0$(device),
  .col-offset-1$(device),
  .col-offset-2$(device),
  .col-offset-3$(device),
  .col-offset-4$(device),
  .col-offset-5$(device),
  .col-offset-6$(device),
  .col-offset-7$(device),
  .col-offset-8$(device),
  .col-offset-9$(device),
  .col-offset-10$(device),
  .col-offset-11$(device),
  .col-offset-12$(device) {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: var(--space);
    padding-left: var(--space);
  }
  .col$(device) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex: 1 0 auto;
    max-width: 100%;
  }

  .col-offset-0$(device) {
    margin-left: 0;
  }

  @for $i from 1 to 12 {
  .col-$(i)$(device) {
    -ms-flex-preferred-size: calc((100%/12)*$(i));
    flex-basis: calc((100%/12)*$(i));
    max-width: calc((100%/12)*$(i));
  }
  .col-offset-$(i)$(device) {
    margin-left: calc((100%/12)*$(i));
  }
  }
}

.container-fluid,
.container {
  width: 100%;
  padding: 0 var(--space);
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1*var(--space));
  margin-left: calc(-1*var(--space));
}

@mixin cols {}

.col,
[class^=col-] {
  padding-right: var(--space);
  padding-left: var(--space);
}
[class^=col-] {
  width:100%;
}

@media only screen and (max-width: $device-xs) {
  @mixin cols \@xs {}
}

@media only screen and (min-width: $device-xs) {
  .container {
    max-width: $device-xs-container;
  }
  @mixin cols \@s {}
}

@media only screen and (min-width: $device-s) {
  .container {
    max-width: $device-s-container;
  }
  @mixin cols \@m {}
}

@media only screen and (min-width: $device-m) {
  .container {
    max-width: $device-m-container;
  }
  @mixin cols \@l {}
}

@media only screen and (min-width: $device-l) {
  .container {
    max-width: $device-l-container;
  }
  @mixin cols \@xl {}
}

@media only screen and (min-width: $device-xl) {
  .container {
    max-width: $device-xl-container;
  }
  @mixin cols \@xxl {}
}
@media only screen and (min-width: $device-xxl) {
  .container {
    max-width: $device-xxl-container;
  }
}