$device-xs: 576px !default;
$device-s: 768px !default;
$device-m: 992px !default;
$device-l: 1200px !default;
$device-xl: 1800px !default;
$device-xxl: 'auto' !default;
$device-xs-container: 540px !default;
$device-s-container: 720px !default;
$device-m-container: 960px !default;
$device-l-container: 1140px !default;
$device-xl-container: 1640px !default;
$device-xxl-container: 'auto' !default;