.btn {
    display: inline-flex;
    align-items: center;
    padding: .7em 2em;
    line-height: 1.4em;
    border: 0 none;
    color: #fff;
    border-radius: 4px;
    transition: ease .4s all;
    font-family: var(--font-family-sans-serif);
    text-align: center;
    font-weight: 500;
    cursor: default;
    box-shadow: 0 1px 1px #00000012, 0 2px 3px #0000000f;
    background: var(--color-primary);
    border: 1px solid color( var(--color-primary) shade(10%));

    &:hover {
        color: #fff;
        background:  color( var(--color-primary) tint(10%));
        box-shadow: 0 1px 1px #00000029, 0 3px 3px #0000001f;
    }
    &:active {
        transform: scale(.98);
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px color( var(--color-primary) l(80%));
        box-shadow: 0px 0px 0px 2px color(var(--color-primary) l(80%)), 0px 1px 4px 1px color(var(--color-primary) l(80%));
    }
    &--busy,
    &:disabled {
        opacity: .4;
    }
    &--link {
        background: transparent;
        border: 1px solid transparent;
        color: var(--color-primary);
        box-shadow: none;
        &:hover {
            background: transparent;
            box-shadow: none;
            color: color( var(--color-primary) l(60%));
        }
        &:focus {
            box-shadow: none;
        }
    }
    &--secondary {
        background: var(--color-secondary);
        border: 1px solid color( var(--color-secondary) shade(10%));
        &:hover {
            color: #fff;
            background:  color( var(--color-secondary) tint(10%));
        }
        &:focus {
            box-shadow: 0 0 0 3px color( var(--color-secondary) l(80%));
        }
    }
    &--danger {
        background: var(--color-danger);
        border: 1px solid color( var(--color-danger) shade(10%));
        &:hover {
            color: #fff;
            background: color( var(--color-danger) tint(10%));
        }
        &:focus {
            box-shadow: 0 0 0 3px color( var(--color-danger) l(80%));
        }
    }
    &--warning {
        background: var(--color-warning);
        border: 1px solid color( var(--color-warning) shade(10%));
        &:hover {
            color: #fff;
            background: color( var(--color-warning) tint(10%));            
        }
        &:focus {
            box-shadow: 0 0 0 3px color( var(--color-warning) l(80%) );
        }
    }
    &--success {
        background: var(--color-success);
        border: 1px solid color( var(--color-success) shade(10%));
        &:hover {
            color: #fff;
            background: color( var(--color-success) tint(10%));
        }
        &:focus {
            box-shadow: 0 0 0 3px color( var(--color-success) l(80%) );
        }
    }
    &--info {
        background: var(--color-info);
        border: 1px solid color( var(--color-info) shade(10%));
        &:hover {
            color: #fff;
            background: color( var(--color-info) tint(10%));
        }
        &:focus {
            box-shadow: 0 0 0 3px color( var(--color-info) l(80%) );
        }
    }
    &--light {
        color: var(--color-dark);
        background: #F9FAFA;
        border: 1px solid #C4CDD5;
        &:hover {
            color: var(--color-dark);
            background: color( #F9FAFA shade(3%));
        }
        &:focus {
            box-shadow: 0 0 0 3px color( var(--color-light) l(80%) );
        }
    }
    &--dark {
        background: var(--color-dark);
        border: 1px solid color( var(--color-dark) shade(10%));
        &:hover {
            color: #fff;
            background: color( var(--color-dark) tint(10%));
        }
        &:focus {
            box-shadow: 0 0 0 3px color( var(--color-dark) l(80%) );
        }
    }

    &--small {
        font-size: .9em;
        padding: .5em 1em;
        line-height: 1.2em;
    }
    &--large {
        font-size: 1.1em;
        padding: 1em 2.8em;
    }
    &--block {
        width: 100%;
        display: block;
    }
}