.list {
    display: flex;
    flex-direction: column;
    margin-left: calc(-1 * var(--list-spacing));
    margin-right: calc(-1 * var(--list-spacing));
    margin-bottom: 1rem;

    > header, > footer, > div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (--phone-viewport) {
            padding: .3rem 0;
        }
        > div {
            padding: .1rem var(--list-spacing);
        }
        @media (--phone-viewport) {
            > div {
                width: 100%;
            }
        }
        @media (--large-viewport) {
            flex-wrap: nowrap;
            > div {
                &:not([class^="w-"]) {
                    width: 20%;
                }
                padding: .6rem var(--list-spacing);
            }
        }
    }
    > header {
        font-weight: bold;
    }
    &--separator {
        > header {
            border-bottom: 2px solid #f6f8f9;
        }
        > div {
            border-bottom: 1px solid #f6f8f9;
        }
    }
    &--stripe {
        > div:nth-child(odd) {
            background: #f6f8f9;
        }
    }
    .list-item {
        &:last-child {
            border-bottom: 0 none;
        }
    }
    .list-empty {
        padding: 2em;
        text-align: center;
        .icon {
            margin: 12px 0;
            width: 64px;
            height: 64px;
            background: var(--color-primary);
            border-radius: 100%;
            opacity: .5;
        }
        h2 {
            margin: 0 0;
            font-size: 2em;
            color: var(--color-dark);
        }
    }
    
    
    &.grid-list {
        display: flex;
        flex-wrap: wrap;
        header,.list-header {
            flex: 1 1 100%;
        }
        .list-item {
            flex: 1 1 33%;
            padding: 10px;
            flex-direction: column;
            align-items: flex-start;
            border-bottom: 0 none;
        }

        &.grid-list-20 .list-item {
            flex: 1 1 20%;
        }
        &.grid-list-25 .list-item {
            flex: 1 1 25%;
        }
        &.grid-list-33.list-item {
            flex: 1 1 33%;
        }
        &.grid-list-50 .list-item {
            flex: 1 1 50%;
        }
    }
    &[aria-busy=true] {
        opacity: .8;
    }
}