.list {
    margin-left: calc(-1 * var(--list-spacing));
    margin-right: calc(-1 * var(--list-spacing));
    
    &[aria-busy=true] {
        opacity: .8;
    }
    
    &.grid-list {
        display: flex;
        flex-wrap: wrap;
        header,.list-header {
            flex: 1 1 100%;
        }
        .list-item {
            flex: 1 1 33%;
            padding: 10px;
            flex-direction: column;
            align-items: flex-start;
            border-bottom: 0 none;
        }

        &.grid-list-20 .list-item {
            flex: 1 1 20%;
        }
        &.grid-list-25 .list-item {
            flex: 1 1 25%;
        }
        &.grid-list-33.list-item {
            flex: 1 1 33%;
        }
        &.grid-list-50 .list-item {
            flex: 1 1 50%;
        }
    }
    header,.list-header {
        border-bottom: 2px solid #f6f8f9;
        .list-col {
            font-weight: bold;
            color: #4e4e4c;
        }
        a {
            color: #4e4e4c;
        }
    }
    header,.list-header,.list-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #f6f8f9;
        
        .list-col {
            flex: 1 1;
            padding: .8em var(--list-spacing);
        }
    }
    .list-item {
        &:last-child {
            border-bottom: 0 none;
        }
    }
    .list-empty {
        padding: 1em;
        text-align: center;
        .icon {
            margin: 12px 0;
            width: 64px;
            height: 64px;
            background: var(--color-primary);
            border-radius: 100%;
            opacity: .5;
        }
        h2 {
            margin: 0 0;
            font-size: 2em;
            color: var(--color-dark);
        }
    }
}