svg {
    [class^="stroke--"]:not(.stroke--none),
    [class^="fill--"]:not(.fill--none)  {
        transition: ease all .2s;
    }

    .fill--none { fill:none; }
    .fill--primary { fill: var(--color-primary); }
    .fill--secondary { fill: var(--color-secondary); }
    .fill--success { fill: var(--color-success); }
    .fill--info { fill: var(--color-info); }
    .fill--danger { fill: var(--color-danger); }
    .fill--warning { fill: var(--color-warning); }
    .fill--dark { fill: var(--color-dark); }
    .fill--light { fill: var(--color-light); }

    .stroke--none { stroke:none; }
    .stroke--primary { stroke: var(--color-primary); }
    .stroke--secondary { stroke: var(--color-secondary); }
    .stroke--success { stroke: var(--color-success); }
    .stroke--info { stroke: var(--color-info); }
    .stroke--danger { stroke: var(--color-danger); }
    .stroke--warning { stroke: var(--color-warning); }
    .stroke--dark { stroke: var(--color-dark); }
    .stroke--light { stroke: var(--color-light); }
}
a:hover {
    svg {
        .fill-hover--none { fill:none; }
        .fill-hover--primary { fill: var(--color-primary); }
        .fill-hover--black { fill: var(--color-black); }
        .fill-hover--secondary { fill: var(--color-secondary); }
        .fill-hover--success { fill: var(--color-success); }
        .fill-hover--info { fill: var(--color-info); }
        .fill-hover--danger { fill: var(--color-danger); }
        .fill-hover--warning { fill: var(--color-warning); }
        .fill-hover--dark { fill: var(--color-dark); }
        .fill-hover--light { fill: var(--color-light); }
    
        .stroke-hover--primary { stroke: var(--color-primary); }
        .stroke-hover--secondary { stroke: var(--color-secondary); }
        .stroke-hover--success { stroke: var(--color-success); }
        .stroke-hover--info { stroke: var(--color-info); }
        .stroke-hover--danger { stroke: var(--color-danger); }
        .stroke-hover--warning { stroke: var(--color-warning); }
        .stroke-hover--dark { stroke: var(--color-dark); }
        .stroke-hover--light { stroke: var(--color-light); }
    }
}