:root {
    --input-radius: 0.25em;

    --input-border: 1px solid #cdd5dc;
    --input-border-hover: 1px solid  var(--color-gray);
    --input-border-active: 1px solid var(--color-primary);

    --input-shadow: 0 1px 1px #0000000f;
    --input-shadow-hover: none;
    --input-shadow-active: 0px 0px 0px 3px var(--color-primary-a-10), 0px 1px 4px 1px var(--color-primary-a-20);

    --input-check-radio-size: 20px;
}
::placeholder {
    color: var(--color-gray);
}
:-ms-input-placeholder {
    color: var(--color-gray);
}
::-ms-input-placeholder {
    color: var(--color-gray);
}

input.form-input,
div.form-input > input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 1em;
    line-height: 1em;
    background: #fff;
    font-family: var(--font-family-sans-serif);
    color: var(--color-text);
    border-radius: var(--input-radius);
    border: var(--input-border);
    min-height: 2.8rem;

    &--hover,&:hover {
        border: var(--input-border-hover);
        box-shadow: var(--input-shadow-hover);
    }
    &--focus,&:focus {
        outline: 0 none;
        border: var(--input-border-active);
        box-shadow: var(--input-shadow-active);
    }
}

div.form-input--select,
select.form-input {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath opacity='.3' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3C/svg%3E") no-repeat 99% 50%;
}
div.form-input--textarea,
textarea.form-input {
    min-height: 80px;
}
div.form-input > input {
    padding: 0;
    margin-top: -1px;
}
/* Text based form-input */
div.form-input--select,
div.form-input--textarea,
div.form-input,
select.form-input,
textarea.form-input,
input:not([type=checkbox]):not([type=radio]).form-input {
    padding: .6rem 1rem;
    width: 100%;
    &--l {
        padding: 1em 1.4em;
        font-size: 1.1em;
    }
}

/* Radio, check and switch */
div.form-input--radio,
div.form-input--checkbox,
input[type=radio].form-input,
input[type=checkbox].form-input {
    box-sizing: content-box;
    position: relative;
    width: var(--input-check-radio-size) !important;
    height: var(--input-check-radio-size) !important;
    &--l {
        width: 32px;
        height: 32px;
    }
    &--checked, &:checked {
        border-color: var(--color-primary);
        background-color: var(--color-primary);
    }
}
div.form-input--checkbox,
input[type=checkbox].form-input {
    &--checked:after,&:checked:after {
        content: "";
        color: #fff;
        width: 100%;
        height: 100%;
        transform: scale(.8);
        background: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 47 39' height='39px' id='Layer_1' version='1.1' viewBox='0 0 47 39' width='47px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon fill='%23fff' points='37.143,0.444 35.162,2.423 26.252,11.333 17.343,20.242 16.636,20.949 14.879,19.192 9.787,14.101 8.857,13.171 -0.335,22.363 0.594,23.293 5.687,28.385 7.444,30.143 7.443,30.143 16.636,39.334 25.828,30.143 25.828,30.143 26.535,29.436 35.445,20.525 44.354,11.616 46.335,9.636 '/%3E%3C/svg%3E") no-repeat center center / contain;
        position: absolute;
    }
}
div.form-input--radio,
input[type=radio].form-input {
    border-radius: 100%;
    &--checked:after,&:checked:after {
        content: " ";
        background: #fff;
        border-radius: 100%;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(.6);
        border: 1px solid #fff;
    }
}

div.form-input--switch,
input.form-switch {
    position: relative;
    display: inline-block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin-right: 4px;
    &:before {
        content: "";
        display: block;
        height: calc(var(--input-check-radio-size) + 4px);
        width: calc((var(--input-check-radio-size) + 2px) * 2);
        border-radius: calc(var(--input-check-radio-size) + 2px);
        background-color: #f0f0f0;
        transition: ease all .4s;
    }
    &:after {
        border: 1px solid #c3c3c3;
        position: absolute;
        content: "";
        height: var(--input-check-radio-size);
        width: var(--input-check-radio-size);
        left: 2px;
        top: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
    &:hover:before {
        background-color: #ebebeb;
    } 
    &:hover:after {
        -webkit-transform: translateX(18%);
        -ms-transform: translateX(18%);
        transform: translateX(18%);
    } 
    &:hover:checked:after {
        -webkit-transform: translateX(calc(var(--input-check-radio-size) - 18%));
        -ms-transform: translateX(calc(var(--input-check-radio-size) - 18%));
        transform: translateX(calc(var(--input-check-radio-size) - 18%));
    } 
    &:checked:before {
        background-color: var(--color-primary);
    }    
    &:checked:after {
        -webkit-transform: translateX(var(--input-check-radio-size));
        -ms-transform: translateX(var(--input-check-radio-size));
        transform: translateX(var(--input-check-radio-size));
        border: 1px solid var(--color-primary);
    }
    &--focus:after,&:focus:after {
        border: 1px solid var(--color-primary);
        box-shadow: var(--input-shadow-active);
    }

    &--large {
        &:before {
            height: calc((var(--input-check-radio-size) + 4px) * 1.6);
            width: calc((var(--input-check-radio-size) + 2px) * 2 * 1.6);
            border-radius: calc(var(--input-check-radio-size) + 2px * 1.6);
        }
        &:after {
            height: calc(var(--input-check-radio-size) * 1.6);
            width: calc(var(--input-check-radio-size) * 1.6);
            left: 2px;
            top: 2px;
        } 
        &:checked:after {
            -webkit-transform: translateX( calc(var(--input-check-radio-size) * 1.6));
            -ms-transform: translateX( calc(var(--input-check-radio-size) * 1.6));
            transform: translateX( calc(var(--input-check-radio-size) * 1.6));
        }
        &:hover:after {
            -webkit-transform: translateX(18%);
            -ms-transform: translateX(18%);
            transform: translateX(18%);
        } 
        &:hover:checked:after {
            -webkit-transform: translateX(calc(var(--input-check-radio-size) * 1.6 - 18%));
            -ms-transform: translateX(calc(var(--input-check-radio-size) * 1.6 - 18%));
            transform: translateX(calc(var(--input-check-radio-size) * 1.6 - 18%));
        } 
    }
}

.form-field {
    width: 100%;
    margin: 0 0 1.4em 0;

    > label,
    > .form-field-label {
        .form-switch,
        input[type=radio].form-input,
        input[type=checkbox].form-input {
            margin-right: .4em;
        }
    }
}
.form-field label,
.form-field-label {
    font-weight: 400;
    display: block;
    margin: 0 0 .4em 0;
    display: inline-flex;
    align-items: center;
}

.form-error {
    color: var(--color-danger)  !important;
}

.form-field-feedback {
    display: block;
    padding: .6em 0;
}
